body {
    background-color: #fafafa !important;
    font-family: Roboto, sans-serif;
  
  }


  section{
    margin-top: 30px;
  }
  



  /* navbar */

  
.navbar-nav{
  margin-left: 420px;
}
.icons{
  margin-right: 10px;
  margin-left: 320px;
  display: flex;
  gap: 30px;
  position: relative;
}
.redcircle{
 background-color: #FF5E3A;
 border-radius: 50%;
 width: 6px; 
 height: 6px;
 position: absolute;
 right: 1px;
}

/* hero css */


#hero_secction{
    display: flex;
    justify-content: center; 
    align-items:center ; 
}

.fashion{
  position: relative;
}
.redI{
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FF5E3A;
  bottom: 75px;
  right: 169px;
}
#card,#grad{
    width:85%;
    height:450px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    background-image: linear-gradient(to left, rgba(176, 94, 96, 0.626), rgb(251, 266, 205));
    margin-inline:70px 70px;
    font-family: "Rubik", sans-serif;
}
#card_body{
  flex:2;
  font-family: "Aclonica", Helvetica, sans-serif;
  padding: 10px;
  position: relative; 
  font-size: larger;
}
#card_body h1{
  font-size: 80px;
}
#card_b{
  position: absolute;
  top:90px;
  left: 130px;
}
#card_b>button{
  margin-top: 50px;
  border-radius: 9px;
  border:none;
  background-image: linear-gradient(to top, rgba(255, 95, 63, 0.626), rgb(254, 108, 83));
  color: white;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 8px 16px 0 #ff5151;
  padding: 10px 25px;
}
#card_b>h1{
  font-size: 50px;
  font-weight: 800;
  color: black;
  font-family: "Aclonica", sans-serif;
}
#card>img{
    width:80%;
    height:100%;
    flex:1; 
    opacity: 0.9;
    padding: 2px;  
}
















  /* collection section */
  
  .collection {
    margin-left: auto;
    margin-right: auto;
  }
  
  .head {
    width: 198px;
    height: 76px;
    top: 834px;
    left: 621px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .head:first-child{
      font-size: 15px;
      font-weight: 400;
  }
  
  .head:nth-child(2){
      font-size: 24px;
      font-weight: 500;
  }
  
  .horizontal_line {
      width: 80px;
      border: 1px solid #FF5E3A;
      margin-top: -15px !important;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  .mid{
      position: relative;
  }
  .mid-item{
      position: absolute;
      right: 10px;
      top: 10px;
      color: #fafafa;
      /* border: 1px solid black; */
      padding: 5px;
      border-radius: 50%;
      background-color: #FF5E3A;
  }
  .collection-btn > button {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    font-weight: bold;
    position: relative;
    left: 100px;
    top: 15px;
  }
  
  .collection-btn {
      /* position: absolute; */
    margin-left: auto !important;
    margin-right: auto;
    width: 670px;
    height: 63px;
    top: 960px;
    left: 385px;
    border-radius: 10px;
  }
  
  .item{
      width: 380px;
  height: 429.16px;
  margin-top: 25px;
  }
  
  .price{
      background-color: #FF5E3A !important;
      color: #FFFFFF !important;
  }
  .ratings>i{
      color: #FF5E3A;
  }
  .item-wrap{
      display: flex !important;
      /* flex-direction: row; */
      justify-content: space-between;
  }
  .item-img{
      background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%) !important;
  }
  .red-btn {
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #ff5e3a 100%);
    color: white !important;
  }
  
  .my_card{
      width: 200px;
      display: inline-block !important;
      margin-inline: 10px;
  }
  
  /* .cards{
      display: inline-block !important;
      justify-content: space-between !important;
      gap: 95px; */
  /* } */
  .item{
      display: inline-block !important;
      margin-left: 55px;
  }
  






  /* new arrival section */

 
  .wrapper{
    display: grid;
    grid-template-columns: 572px 619px;
    grid-template-rows: 259px 259px;
    margin-left: 100px;
  }
  .box{
    position: relative;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* margin-left: ; */
  }
  .grid-img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  .a{
    grid-row: 1/2;
    max-width: 95%;
  }
  .c{
    grid-column: 1/2;
    max-width: 95%;
  }
  .b{
    grid-row: 1/3;
  }
  .grid-content{
    position: absolute;
    bottom: 17px;
    left: 40px;
  }
  .grid-content>a{
    text-decoration: none;
    color: #FFFFFF;
  }


  /* flex box */

  .item2{
    margin-left: 30px;
}
.card-body{
    position: relative;
}
.add-to-cart{
    background-color: #FF5E3A !important;
    color: #FFFFFF !important;
    font-size: 5px;
    position: absolute;
    right: 10px;
    bottom: 50px;
}
.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}















/* footer */
.footer{
    display: flex;
    margin-top: 120px;
    padding: 110px;
    justify-content: space-evenly;
    background-color: #FCCB9026;
  }
  .table{
    padding: auto;
  }
ul{
    list-style-type: none;
}
.footer_i{
    color:rgb(255,94,58);
}
#footer-heading{
    font-weight:bold;
}
.list_heading{
   font-weight: bold;
   padding-bottom: 9px;
}
.list_items{
    color: #4F5665;
    padding: 9px;
}


/* media-queries */
@media screen and (max-width: 768px) {
    #heading {
      font-size: 24px;
      margin-left: 20px;
    }
  
    .nav-btn {
      padding-inline: 10px;
    }
  
    .icons {
      right: 20px;
    }
  
    #card {
      margin-inline: 20px;
    }
  
    #card_body {
      top: 50px;
      left: 20px;
    }
  
    #card_b {
      left: 10px;
    }
  
    #card_b > button {
      margin-top: 20px;
      padding: 8px 15px;
      font-size: 12px;
    }
  
    #card_b > h1 {
      font-size: 30px;
    }
  
    #card > img {
      width: 100%;
    }
  
    .collection-head {
      width: 100%;
    }
  
    .horizontal_line {
      width: 50px;
    }
  
    .mid-item {
      right: 5px;
      top: 5px;
      padding: 3px;
    }
  
    .collection-btn > button {
      padding-top: 8px;
      padding-bottom: 8px;
      margin-left: 10px;
      font-size: 12px;
      left: 50px;
    }
  
    .collection-btn {
      width: 100%;
      top: 870px;
      left: 0;
      margin-bottom: 20px;
    }
  
    .item {
      width: 100%;
    }
  
    .item-wrap {
      flex-direction: column;
    }
  
    .cards {
      display: block;
    }
  
    .footer {
      flex-direction: column;
      padding: 50px;
    }
  
    .footer_i {
      font-size: 20px;
    }
  
    .table {
      padding: 0;
    }
  
    .list_heading,
    .list_items {
      padding: 5px;
    }
    .hero_img{
            display: none;
          }
          .wrapper{
            display: inline-block;
              /* gap: 95px; */
              overflow-x: scroll;
              white-space: nowrap;
          }
          .box{
            white-space: nowrap;
          }
          #grid{
            white-space: nowrap;
          }
  }


    
      @media screen and (max-width: 500px){
          .cards{
              /* display: flex; */
              /* justify-content: space-between !important; */
              display: inline-block;
              gap: 95px;
              overflow-x: scroll;
              white-space: nowrap;
              /* width: 500px; */
          }
          
          .item{
              display: inline-block !important;
              white-space: nowrap;
              margin-left: 55px;
          }
          .items{
              white-space: nowrap;
          }
          .hero_img{
            display: none;
          }
          .wrapper{
            display: inline-block;
              /* gap: 95px; */
              overflow-x: scroll;
              white-space: nowrap;
          }
          .box{
            white-space: nowrap;
                          margin-bottom: 10px;
          }
          #grid{
            white-space: nowrap;
          }
          

          #card_b{
            font-size: 15px;
          }
          .redI{
            right: 120px;
          }
          .navbar-nav{
            margin-left: 2px !important;
            
          }
          .icons{
            margin-left: 25px !important;
            margin-top: 10px;
          }
          .redcircle{
            left: 100px;
          }
          .ratings{
            margin-left: auto;
            margin-right: auto;
          }
          .add-to-cart{
            bottom: 25px;
          }


          .a{
            max-width: 50%;
            font-size: 10px;
          }
          .b{
            max-width: 50%;
            font-size: 10px;
          }
          .c{
            max-width: 50%;
            font-size: 10px;
          }
          .grid-content{
            bottom: 4px;
            font-weight: 900;
          }

  }
